//
// ──────────────────────────────────────────────────────────────────────── PINK ──────────
//   :::::: M A T E R I A L   P A L E T T E : :  :   :    :     :        :          :
// ──────────────────────────────────────────────────────────────────────────────────
//
$PINK_50: #FCE4EC;
$PINK_100: #F8BBD0;
$PINK_200: #F48FB1;
$PINK_300: #F06292;
$PINK_400: #EC407A;
$PINK_500: #E91E63;
$PINK_600: #D81B60;
$PINK_700: #C2185B;
$PINK_800: #AD1457;
$PINK_900: #880E4F;

$PINK_SPECIAL_1: #FF80AB;
$PINK_SPECIAL_2: #FF4081;
$PINK_SPECIAL_3: #F50057;
$PINK_SPECIAL_4: #C51162;
//
// ──────────────────────────────────────────────────────────────────────── PURPLE ──────────
//   :::::: M A T E R I A L   P A L E T T E : :  :   :    :     :        :          :
// ──────────────────────────────────────────────────────────────────────────────────
//
$PURPLE_50: #F3E5F5;
$PURPLE_100: #E1BEE7;
$PURPLE_200: #CE93D8;
$PURPLE_300: #BA68C8;
$PURPLE_400: #AB47BC;
$PURPLE_500: #9C27B0;
$PURPLE_600: #8E24AA;
$PURPLE_700: #7B1FA2;
$PURPLE_800: #6A1B9A;
$PURPLE_900: #4A148C;

$PURPLE_SPECIAL_1: #EA80FC;
$PURPLE_SPECIAL_2: #E040FB;
$PURPLE_SPECIAL_3: #D500F9;
$PURPLE_SPECIAL_4: #AA00FF;
//
// ──────────────────────────────────────────────────────────────────────── DEEP PURPLE ──────────
//   :::::: M A T E R I A L   P A L E T T E : :  :   :    :     :        :          :
// ──────────────────────────────────────────────────────────────────────────────────
//
$DEEP_PURPLE_50: #EDE7F6;
$DEEP_PURPLE_100: #D1C4E9;
$DEEP_PURPLE_200: #B39DDB;
$DEEP_PURPLE_300: #9575CD;
$DEEP_PURPLE_400: #7E57C2;
$DEEP_PURPLE_500: #673AB7;
$DEEP_PURPLE_600: #5E35B1;
$DEEP_PURPLE_700: #512DA8;
$DEEP_PURPLE_800: #4527A0;
$DEEP_PURPLE_900: #311B92;

$DEEP_PURPLE_SPECIAL_1: #B388FF;
$DEEP_PURPLE_SPECIAL_2: #7C4DFF;
$DEEP_PURPLE_SPECIAL_3: #651FFF;
$DEEP_PURPLE_SPECIAL_4: #6200EA;
//
// ──────────────────────────────────────────────────────────────────────── GREY ──────────
//   :::::: M A T E R I A L   P A L E T T E : :  :   :    :     :        :          :
// ──────────────────────────────────────────────────────────────────────────────────
//
$GREY_50: #FAFAFA;
$GREY_100: #F5F5F5;
$GREY_200: #EEEEEE;
$GREY_300: #E0E0E0;
$GREY_400: #BDBDBD;
$GREY_500: #9E9E9E;
$GREY_600: #757575;
$GREY_700: #616161;
$GREY_800: #424242;
$GREY_900: #212121;
//
// ────────────────────────────────────────────────────────────────────────
//   :::::: A P P   P A L E T T E : :  :   :    :     :        :          :
// ────────────────────────────────────────────────────────────────────────
//
$HEADER_BACKGROUND: linear-gradient(90deg, $PURPLE_SPECIAL_2 0%, $DEEP_PURPLE_SPECIAL_4 30%);

$FONT_COLOR_DARK: $GREY_900;
$FONT_COLOR_LIGHT: $GREY_200;
